
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}

.one {

    box-sizing: border-box ;
    margin-bottom: 20px;
    padding: 20px;
    width: calc(100% / 6 - 20px);
}


#brasil {

    background-color: #00FF00;
}

#portugual {

    background-color: #228B22;
}

#espanha {

    background-color: #FF0000;
}

#holanda {

    background-color: #4B0082;
}


#argentina {

    background-color: aqua;
}